 <%= javascript_include_tag  "rails.validations" %>  

<%= form_for @about_u , :validate => true do |f| %>
  

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
