<div class="page-head">

       <%  if flash[:success] %>
             <div class="notification success" id="success">
                        <a href="#" class="close-notification tooltip" title="Hide Notification">x</a>
                        <h4>Success notification</h4>
                        <p id="notice"><%= flash[:success] %></p>
                  </div>
            <% end %>   
    
    <h3>Create an Account</h3>
</div>
    <fieldset class="group-select wide">
    <input type="hidden" name="success_url" value="" />
    <input type="hidden" name="error_url" value="" />
        <h4 class="legend">Personal Information</h4>
        <ul>
           
                <div class="customer-name">

      <%= form_for @user, :validate => true do |f| %>  
<li>
    <div class="input-box name-firstname">
        <label for="firstname">

            First Name            <span class="required">*</span>
        </label>
        <br />
       <%= f.text_field :first_name, :size => 25 %> 

    </div>


    <div class="input-box name-lastname">
        <label for="lastname">
          Last Name            <span class="required">*</span>
        </label>
        <br />
      <%= f.text_field :last_name, :size => 25 %> 
    </div>
 </li>   


           
            <li>
                <div class="input-box">
                    <label for="email_address">Email Address <span class="required">*</span></label><br/>
                  
                    <%= f.text_field :email, :size => 25 %>  
                </div>
            </li>
                        <li>
                <input type="checkbox" name="is_subscribed" title="Sign Up for Newsletter" value="1" id="is_subscribed"  />
                <label for="is_subscribed">Sign Up for Newsletter</label>
            </li>
                    </ul>
    </fieldset>
    <fieldset class="group-select wide">
        <h4 class="legend">Login Information</h4>
        <ul>
            <li>
                <div class="input-box">
                    <label for="password">Password <span class="required">*</span></label><br/>
                    <%= f.password_field :password, :size => 25 %> 
                </div>
                <div class="input-box">
                    <label for="confirmation">Confirm Password <span class="required">*</span></label><br />
                     <%= f.password_field :password_confirmation, :size => 25 %>
                </div>
            </li>
        </ul>
    </fieldset>
    <div class="button-set">
        <p class="required">* Required Fields</p>
        <a href="http://cardysocks.co.uk/index.php/customer/account/login/" class="left">&laquo; Back</a>
        <button class="form-button" type="submit"><span>Submit</span></button>
        <% end %>  
    </div>
  </div>  
</div>