        

        <div style="position:absolute;left:210px;">
		<%= image_tag("contact_us.png") %>
	    </div>
	    <br>
	    <br>
	    <%= image_tag("line.png", :width =>'700', :height=>'4') %>
	     <%= form_tag  cardysockspages_send_mail_path, :method => :get do %> 
    <fieldset class="group-select" style="padding-top:0px;">
        <!--<h4 class="legend">Contact Information</h4>-->
       <!--  <p class="required"></p> -->
        <ul>
        <li>
                <div class="input-box">
                    <label for="name">Name <span class="required">*</span></label><br />
                   <%= text_field_tag :first_name, params[:first_name] %>  
                </div>

                <div class="input-box">
                    <label for="email">Email <span class="required">*</span></label><br />
                    <%= text_field_tag :email, params[:email] %>  
                </div>
                <div class="input-box">
                    <label for="enquiry">Enquiry <span class="required">*</span></label><br />
                   <%= text_field_tag :enquiry, params[:enquiry] %>  
                </div>

                <div class="clear"></div>

                <div class="input-box">
                    <label for="telephone">Telephone</label><br />
                    <%= text_field_tag :telephone, params[:telephone] %>  
                </div>

                <div class="clear"></div>

                <div class="input-box">
                    <label for="comment">Comment</label><br />
                   <%= text_area_tag :comment, params[:comment], :cols => 100, :rows => 10 %>  
                </div>
				
                </li>
                </ul>
				 <p class="required" style="text-align:left;">* Required Fields</p>
				 <div class="button-set"  style="text-align: right; padding: 0px 215px;">
       
        <button class="form-button" type="submit" class="form-button" ><span>Submit</span></button>
    </div>
    </fieldset>
    
<% end %>