<%= javascript_include_tag "cardysockspages1"  %>  
<%= stylesheet_link_tag "home"%> 


<div style="position:relative;left:0px;top:0px;width:800px;height:500px;border: 3px black solid;">

		<div style="position:relative;left:20px;text-align:left;">
			   <font size="3">1: Select a boot colour</font>
			   <br>

 				   <%=link_to image_tag("boot_color1.gif"), cardysockspages_products_path,:id => 'link1', :href => "#" %>
				   <%=link_to image_tag("boot_color2.gif"), cardysockspages_products_path,:id => 'link2', :href => "#" %>
				   <%=link_to image_tag("boot_color3.gif"), cardysockspages_products_path,:id => 'link3', :href => "#" %>
				   <%=link_to image_tag("boot_color4.gif"), cardysockspages_products_path,:id => 'link4', :href => "#" %>
		</div>
		<div style="position:relative;left:20px;text-align:left;" id="height">
			 <%= render :partial => 'socks_height' %>

		</div>
		<div style="position:relative;left:20px;text-align:left;" id="color">
			 <%= render :partial => 'socks_color'  %>

		</div>	

		<div style="position:relative;left:20px;text-align:left;">
		      <font size="3">4: What next?   </font>
			   <br>
			   <br>
			    <font size="3">
		       <%= link_to "Print this picture..." %><br>

		        <%= link_to "Email to a friend..." %><br>
		         <%= link_to "Share this design..." %></font>

		</div>	
     
		<div style="position:absolute;left:400px;top:20px;width:350px;height:450px;border: 3px coral solid;", id="replace">
            
	             <ul id="link1b">
	             	<%= image_tag("TALL_blacktall.png") %>
	             </ul>
	             <ul id="link2b">
	             	<%= render :partial => 'boot_pic' %>
	             </ul>
	             <ul id="link3b">
	             	<%= image_tag("TALL_browntall.png") %>
	             </ul>  
	             <ul id="link4b">
	             	<%= image_tag("TALL_whitetall.png") %>
	             </ul> 
            

            
	             <ul id="small1">

	             	<%= image_tag("SHORT_black.png") %>
	             </ul>
	             <ul id="small2">

	             	<%= image_tag("SHORT_brown.png") %>
	             </ul>
	             <ul id="small3">
	             	<%= image_tag("SHORT_cream.png") %>
	             </ul>  
	             <ul id="small4">
	             	<%= image_tag("SHORT_white.png") %>
	             </ul>   
              
	   </div>

                  

                  
</div>









