<%= stylesheet_link_tag  "jquery.datatables" %> 
<%= javascript_include_tag  "login" %>  

<article class="content-box minimizer">
  <header>
    <h2 style="padding-right: 90px;">products</h2>
    <nav >
      <ul class="button-switch">
        <li><a class="button" href="<%=  new_product_path %>" > Add products</a></li>
      </ul>
    </nav>
    
    <a title="Toggle Content Block" class="content-box-minimizer" href="#" style="display: block; left: 120px;">Toggle</a>
  </header>
  <section>
    <%  if flash[:success] %>
           <div class="notification success">
                <a href="#" class="close-notification tooltip" title="Hide Notification">x</a>
                <h4>Success notification</h4>
                <p id="notice"><%= flash[:success] %></p>
            </div>
           <% end %> 
<table class="datatable">
  <thead  class="trclass" border="1">
  <tr>
    <th>Product name</th>
    <th>Large boot</th>
    <th>Small boot</th>
    <th>Price</th>
    <th>Action</th>
    
  </tr>
   </thead>

<% @products.each do |product| %>
  <tr>
    <td><%= product.productname %></td>
    <td><%= image_tag(product.largeimage_file_name) %></td>
    <td><%= image_tag(product.small_image_file_name) %></td>
    <td>$<%= product.price %></td>
    <td >
    <span class="tooltip" title="Show"><%= link_to image_tag("icons/actions/page_white_find.png"), product %> </span>&nbsp;
     <span  class="tooltip" title="edit"><%= link_to image_tag("icons/actions/page_white_edit.png"), edit_product_path(product) %></span >&nbsp;
     <span class="tooltip" title="delete"><%= link_to image_tag("icons/actions/page_white_delete.png"), product, method: :delete, data: { confirm: 'Are you sure?' } %></span ></td>
  </tr>
<% end %>
</tbody>
    </table>
    </form>
    </div>
  </section>
</article>
