<p id="notice"><%= notice %></p>

<p>
  <b>Productname:</b>
  <%= @product.productname %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Largebootimage:</b>
  <%= @product.largebootimage %>
</p>

<p>
  <b>Smallbootimage:</b>
  <%= @product.smallbootimage %>
</p>

<p>
  <b>Boot:</b>
  <%= @product.boot %>
</p>

<p>
  <b>Sock:</b>
  <%= @product.sock %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
