<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title> Create New Customer Account </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Cardy Socks for your sheepskin boots" />
<meta name="keywords" content="cardy socks, ugg, boots, boot, socks" />
<meta name="robots" content="INDEX,FOLLOW" />
<link rel="icon" href="http://cardysocks.co.uk/skin/frontend/default/default/logo.png" type="image/x-icon" />
<link rel="shortcut icon" href="http://cardysocks.co.uk/skin/frontend/default/default/logo.png" type="image/x-icon" />
 <%= stylesheet_link_tag :application %>  
<%= javascript_include_tag :application, "rails.validations"  %>  
<%= csrf_meta_tag %> 
<style>
    .black_overlay_icon{
      display: none;
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 160%;
      background-color: black;
      z-index:1001;
      -moz-opacity: 0.8;
      opacity:.80;
      filter: alpha(opacity=80);
    }
    .white_content_icon {
      display: none;
      position: absolute;
      top: 17%;
      left: 17%;
      width: 61%;
      height: 75%;
      padding: 16px;
      border: 2px solid black;
      background-color: white;
      z-index:1002;
      overflow: auto;
    }

  .field_with_errors {  
      display: inline;  
    }  
      
    .field_with_errors .message {  
      color: #D00;  
      padding-left: 5px;  
      font-size: 12px;  
    }  
    
</style>
<!-- ************* -->

<link rel="stylesheet" type="text/css" href="http://cardysocks.co.uk/skin/frontend/default/default/css/reset.css" media="all" />
<link rel="stylesheet" type="text/css" href="http://cardysocks.co.uk/skin/frontend/default/default/css/boxes.css" media="all" />
<link rel="stylesheet" type="text/css" href="http://cardysocks.co.uk/skin/frontend/default/default/css/menu.css" media="all" />
<link rel="stylesheet" type="text/css" href="http://cardysocks.co.uk/skin/frontend/default/default/css/clears.css" media="all" />
<link rel="stylesheet" type="text/css" href="http://cardysocks.co.uk/skin/frontend/default/default/css/style_sheet.css" media="all" />
<link rel="stylesheet" type="text/css" href="http://cardysocks.co.uk/skin/frontend/default/default/css/print.css" media="print" />

</head>
<body class=" customer-account-create">
  
 
<div class="wrapper">
        <noscript>
        <div class="noscript">
            <div class="noscript-inner">
                <p><strong>We detected that your JavaScript seem to be disabled.</strong></p>
                <p>You must have JavaScript enabled in your browser to utilize the functionality of this website.</p>
            </div>
        </div>
    </noscript>
        <!-- start header -->
        <div class="header">
         


               <div>
        <ul>
                            <li  class="first"><a href="<%= log_in_path %>" title="My Account" >My Account</a></li>
                            <li ><a href="http://cardysocks.co.uk/index.php/checkout/cart/" title="My Cart" class="top-link-cart">My Cart</a></li>
                            <li ><a href="http://cardysocks.co.uk/index.php/checkout/" title="Checkout" class="top-link-checkout">Checkout</a></li>
                            <li  class="last"><a href="<%= log_in_path %>" title="Log In" >Log In</a></li>
                    </ul>
   </div>
                     <h1 id="logo"><a href="http://cardysocks.co.uk/index.php/"><img src="http://cardysocks.co.uk/skin/frontend/default/default/images/logo.png" alt="Cardy Socks" /></a></h1>
                  <div class="link">
                <p>
                    <a href="<%= cardysockspages_home_path %>">
             <img src="http://cardysocks.co.uk/skin/frontend/default/default/images/home_active.png" alt=""/>
          </a>
                  </a>
        </p>
                        <p>
                      <a href="<%= cardysockspages_about_us_path %>" ><img src="http://cardysocks.co.uk/skin/frontend/default/default/images/about.png" name="Image5" width="121" height="51" border="0" id="Image5" alt=""/></a>
                        
            </p>
                        <p>
                        <a href="<%= cardysockspages_products_path %>" ><img src="http://cardysocks.co.uk/skin/frontend/default/default/images/products.png" name="Image6" width="123" height="51" border="0" id="Image6" alt=""/></a>
                        </p>

              <p>
            
              <a href="<%= cardysockspages_find_a_shop_path %>" ><img src="http://cardysocks.co.uk/skin/frontend/default/default/images/find_shop.png" name="Image7" width="169" height="51" border="0" id="Image7" alt=""/></a>
                        </p>
                      <p>
                        <a href="<%= new_contact_u_path %>"><img src="http://cardysocks.co.uk/skin/frontend/default/default/images/contact_us.png" name="Image8" width="144" height="51" border="0" id="Image8" alt=""/></a>
                        </p>
            
                    </div> 

           
<div class="header-nav-container">
    <div class="header-nav">
        <h4 class="no-display">Category Navigation:</h4>
        <ul id="nav">
                                                        </ul>
    </div>
    </div>        </div>
        <!-- end header -->

        <!-- start middle -->
        <div class="middle-container2">
            <div class="leftside col-1-layout">
                            <!-- start center -->
              
                <div class="pro_inner">
                <!-- start content -->

                 <%= yield %> 

                </div>
               
              

            </div>
      <!-- start right -->
            <div class="col-right side-col">
                &nbsp;
            </div>
            <!-- end right -->
            <div class="clear"></div>
        </div>
        <!-- end middle -->

    

        <!-- start footer -->
        <div class="footer-container">
            <div class="footer">
             
<div style="float: left;"><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fcardysocks.co.uk&amp;layout=standard&amp;show_faces=true&amp;width=50&amp;action=like&amp;colorscheme=light&amp;height=100" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:350px; height:100px;" allowTransparency="true"></iframe></div>
<p style="font-family:Arial,Helvetica,sans-serif; font-size:11px; width: 600px; text-align: right; float: right;padding-top: 3px;">
Copyright &copy 2010 Cardy Socks All Rights Reserved | <a href="/index.php/terms_conditions" style="color:#845121;">Term & Conditions</a> | Made in The UK <img src="http://cardysocks.co.uk/skin/frontend/default/default/images/flag.png" style="vertical-align: middle;"/> | <a href="http://www.stormnewmedia.com" style="color:#845121;">Webdesign</a> by <a href="http://www.stormnewmedia.com" style="color:#845121;">SNM</a></p>
            </div>
        </div>
        <!-- end footer -->
        </div>
</body>
</html>






















